
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #c5c4c4;
  color: #1f1f1f;
}

#menu-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: #c5c4c4;
  font-size: 2rem;
  background-color: black;
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  line-height: 0.5;
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
  z-index: 2;
}

#menu-button:active {
  scale: 0.9;
}

.display-initial {
  display: initial;
}

.display-none {
  display: none;
}

nav {
  position:fixed;
  top: 0;
  height:100%;
  background-color: black;
  padding: 2rem;
  margin: 0;
  display: none;
  z-index: 4;
}

nav a {
  color: #c5c4c4;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav>ul>li {
  margin: 1rem 0;
}

section {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid black;
}

section>ul {
  list-style-type: none;
}

#ideologies {
  display: none;
}

h1 {
  letter-spacing: 3px;
  text-align: center;
  background-color: transparent;
  margin: 0;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 3px black;
  font-size: 4rem;
  font-weight: bolder;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

h1>span {
  display: block;
}

h1>span:last-child {
  font-size: 80%;
}

#photo-container {
  position: relative;
  top: 0;
  left:0;
  width: 100%;
  margin: 0;
  padding:0;
}

img {
  width: 100%;
  object-fit: contain;
}

h2 {
  padding: 0 0 0 1rem;
  margin: 0;
  color: #9d1c1c;
  letter-spacing: 3px;
}

h3 {
  letter-spacing: 2px;
  background-color: black;
  color: #c5c4c4;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
}

h4 {
  text-align: center;
}

ul {
  padding-left: 1rem;
}

#holocaust {
  margin-top: -4rem;
  position: relative;
  z-index: 1;
}

.answer {
  padding-inline: 3rem;        
}

#sources li {
  margin-block: 0.7rem;
} 

#sources a {
  color:mediumblue;
}

footer {
  color: #c5c4c4;
  font-weight: 500;
  background-color: black;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer p {
  max-width: 500px;
}

@media (max-width: 800px) {
  
  h1 {
    font-size: 200%;
    -webkit-text-stroke: 1px black;
  } 

  section {
  padding: 0.5rem;
}

.answer {
  padding-inline: 0.5rem;        
}

h3 {
  font-size: 90%;
  padding: 0.3rem 1rem;
}
}

@media (orientation: portrait){
  h1 {
    font-size: 150%;

  }

  #holocaust {
    position: relative;
    margin-top: -2rem;
    z-index: 1;
  }

}